<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JKBottomSearchView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A693B892077E14100B4FE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A693B922077E14100B4FE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A693BA92077E29B00B4FE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A693BBC2077E29D00B4FE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
